/* 设置图片居中 */
.post-content img {
  display: block;
  margin: 1rem auto 0.5rem;
}

/* 设置图注居中 */
.post-content figure > figcaption {
  margin: 0 0 16px;
  text-align: center;
}

/* 设置图注内文字和图片同行显示 */
.post-content figure > figcaption > span,
.post-content figure > figcaption > img {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

/* 设置图注内图片图片大小 */
.post-content figure > figcaption img {
  height: 3rem;
}
